<!DOCTYPE html>
<html lang="es">
    <head>
	<title>LearnIT-Materias</title>
        <meta charset="utf-8">
        {% load staticfiles %}
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="{% static 'jquery-2.1.1.min.js' %}"></script> 

        <link rel="stylesheet" href="{% static 'jqueryMobile/jquery.mobile-1.4.5.min.css' %}">
        <script src="{% static 'jqueryMobile/jquery.mobile-1.4.5.min.js' %}"></script>

        <link rel="stylesheet" href="{% static 'estilo.css' %}">   
    </head>
    <body>
	<div>
    <!--mainPage-->
    <div data-role="page" id="mainPage">

        <div data-role="header">
            <a href="../.." data-icon="back" data-ajax="false">Regresar</a>
            <h1>LearnIT</h1>
        </div><!-- /header -->

        <div role="main" class="ui-content">
            <div class="ui-grid-b">
                <div class="ui-block-a"></div>
                <div class="ui-block-b">
                    <div class="ui-corner-all custom-corners">
                        <div class="ui-bar ui-bar-a">
                            <h3>{{ carrera }}</h3>
                        </div>
                        <div class="ui-body ui-body-a">
                        {% if lista_materias %}
                            {% for materia in lista_materias %}
                                <form action="../../materia/verTemas">
                                    <input type="submit" value="{{ materia }}">
                                </form>
                            {% endfor %}
                        {% else %}
                            <p>No existen materias asignadas a esta carrera.</p>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="ui-block-c"></div>
            </div>
        </div>

    </div> <!--/mainPage-->
            
        </div>
    </body>
</html>
