<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Login: LearnIT!</title>
	<script src="javascripts/angular.js"></script>
	<script src="javascripts/angular-route.js"></script>
	<script src="javascripts/controller.js"></script>
</head>
	<body ng-app="mainApp">
	<div ng-view></div>
</body>
</html>
