<!DOCTYPE html>
<html lang="es">
    <head>
	<title>Welcome!</title>
        <meta charset="utf-8">
        {% load staticfiles %}
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="{% static 'jquery-2.1.1.min.js' %}"></script> 

        <link rel="stylesheet" href="{% static 'jqueryMobile/jquery.mobile-1.4.5.min.css' %}">
        <script src="{% static 'jqueryMobile/jquery.mobile-1.4.5.min.js' %}"></script>

        <link rel="stylesheet" href="{% static 'estilo.css' %}">   

        <script>
            $(document).ready(function(){
                $("#menu").load("/menu");
            });
        </script>
    </head>
    <body>
	<div>
    <!--mainPage-->
    <div data-role="page" id="mainPage">
        <div id="menu"></div>

        <div role="main" class="ui-content">
            <div class="ui-grid-b">
                <div class="ui-block-a"></div>
                <div class="ui-block-b">
                    <h1>LearnIT - Inicio</h1>
                    <button type="button">Ver Carreras</button>
                    <button type="button">Ver Materias</button>
                    <button type="button">Crear Materia</button>
                    <button type="button" onclick="location.href='/temas/crearTema'">Crear Tema</button>
                </div>
                <div class="ui-block-c"></div>
            </div>
        </div>
    </div> <!--/mainPage-->
        </div>
    </body>
</html>
