{% load staticfiles %}

{% if error %}
    <span>{{ error }}</span>    
{% endif %}
<div id="fondo">
<div id="contenido">
<h2 id="titulo">LearnIT</h2>
<div id="formulario">

<h3>Sign up</h3>
<form action="/registro/" method="post">
    {% csrf_token %}
    
    {{ formPerfil.non_field_errors }}
    {{ formUsuario.non_field_errors }}

    <p><span>*</span>Required field</p>

    <table>
        {% for campo in formUsuario %}
            <tr>
                <td>
                    {{ campo.errors }} 
                </td>
            </tr>
            <tr>
                <td>
                    <span>*</span> {{ campo.label_tag }}
                </td>
                <td>
                    {{ campo }}
                </td>
            </tr>
        {% endfor %}

        {% for campo in formPerfil %}
            <tr>
                <td>
                    {{ campo.errors }} 
                </td>
            </tr>
            <tr>
                <td>
                    <span>*</span> {{ campo.label_tag }}
                </td>
                <td>
                    {{ campo }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <input type="submit" value="Submit" />
    </br>
    </br>
    Already have an account? Log in <a href="/login/">here</a>
</form>
<br>
</div>
</div>
</div>
